Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
dev/CamsWeb/Dionline.Web/Dionline.Web.Publish.xml
dev/CamsWeb/Dionline.Web/App_Data/error*
dev/CamsWeb/Dionline.Web/charts*
dev/CamsWeb/Dionline.Web/zip*
dev/CamsWeb/Dionline.Web/reportTemplates*