<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfInterception.Server.Services.CalculatorService">
        <endpoint address="http://localhost:8000/CalculatorService"
                  binding="wsHttpBinding"
                  contract="WcfInterception.Server.Contracts.ICalculatorService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>