<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
  
  <assembly name="WcfInterception.Server.Contracts"/>
  <namespace name="WcfInterception.Server.Contracts"/>
  
  <assembly name="WcfInterception.Server.Services"/>
  <namespace name="WcfInterception.Server.Services"/>

  <assembly name="WcfInterception.Server.Interception"/>
  <namespace name="WcfInterception.Server.Interception"/>
  
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  </typeAliases>

  <containers>
    <container>
      <extension type="Interception"/>

      <register type="ICalculatorService" mapTo="CalculatorService">
        <lifetime type="singleton"/>
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="AddInterceptionBehavior"/>
      </register>
    </container>
  </containers>
</unity>